html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: #ffffff;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

.container {
  background: -webkit-linear-gradient(
    90deg,
    var(--background-gradient-1),
    var(--background-gradient-2),
    var(--background-gradient-3)
  );
  padding-bottom: 3%;
  min-height: 100vh;
  display: flex;
  cursor: default;
}

.left-side {
  width: 60%;
  height: 100%;
  padding: 2% 3% 3% 3%;
  display: flex;
  flex-direction: column;
}

.search {
  position: relative;
  width: 100%;
  height: 2.5rem;
  display: flex;
  z-index: 1;
}

.search-hint {
  position: absolute;
  left: 3.75rem;
  top: 0.625rem;
  font-size: 1rem;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 1;
}

.search-field::-webkit-search-decoration,
.search-field::-webkit-search-cancel-button,
.search-field::-webkit-search-results-button,
.search-field::-webkit-search-results-decoration {
  display: none;
}

.search-field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-field {
  width: 1%;
  height: 100%;
  padding-left: 1rem;
  margin-left: 3.44rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: inherit;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 0.625rem;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
}

.form-button {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  padding: 0;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.form-button {
  z-index: 0;
  background: none;
}

.form-button > .svg-box {
  transform: translateY(4px);
}

.reset-button {
  position: absolute;
  background: none;
  border: none;
  bottom: 0.5rem;
  right: 0.75rem;
  opacity: 0;
  font-size: 0.875rem;
  color: gray;
  opacity: 0;
}

.search-hint {
  opacity: 0;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search-field {
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.reset-button {
  opacity: 1;
  transition: all 0.4s linear;
  z-index: 1;
}

.search-field:focus {
  background: rgba(255, 255, 255, 0.3);
}

.form-button:hover .search-svg {
  fill: #fff;
  cursor: pointer;
}

.reset-button:hover .reset-svg {
  fill: #fff;
  cursor: pointer;
}

.location {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  margin-top: 2rem;
  font-size: 2.375rem;
  line-height: 1.2;
}

.weather-current {
  display: flex;
  margin-top: 0.625rem;
}

.weather-current-description {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}

.current-temperature {
  margin-top: 1rem;
  font-size: 5rem;
}

.current-condition {
  font-size: 1.7rem;
  margin-left: 0.9375rem;
  margin-top: -0.625rem;
}

.date-time {
  display: flex;
  margin-top: 3.125rem;
  flex-wrap: wrap;
}

.current-date {
  flex-basis: 100%;
  font-size: 2.25rem;
}

.current-week-day,
.current-time {
  font-size: 1.25rem;
  margin-top: 0.625rem;
}

.current-week-day {
  padding-right: 0.9375rem;
  border-right: 1px solid white;
}

.current-time {
  padding-left: 0.9375rem;
}

.weather-indicators {
  display: flex;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.wind-indicator,
.humidity-indicator {
  display: flex;
  border-right: 1px solid white;
  margin-right: 1.875rem;
}

.rainfall-indicator {
  display: flex;
}

.wind-mark,
.wind-speed,
.humidity-mark,
.humidity-percent,
.rainfall-mark,
.rainfall-level {
  font-size: 1.125rem;
  margin-top: 0.3rem;
}

.wind-mark,
.humidity-mark {
  margin-left: 0.3rem;
}

.rainfall-mark {
  margin-left: 0.625rem;
}

.wind-speed,
.humidity-percent,
.rainfall-level {
  margin-right: 1.6rem;
  margin-left: 1.25rem;
}

.weather-forecast-button {
  display: none;
}

.weather-forecast-label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 1.125rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin-right: 1.875rem;
  cursor: pointer;
  margin-bottom: 1.56rem;
  background: rgba(255, 255, 255, 0);
  color: #afd6fe;
}

.weather-forecast-label:hover {
  color: rgba(255, 255, 255, 0.5);
}

.hourly-weather-label,
.tommorow-weather-label {
  border-right: 1px solid white;
  padding-right: 1.875rem;
}

.weather-forecast-button:checked + .weather-forecast-label {
  background: rgba(255, 255, 255, 0);
  color: white;
}

.hourly-weather-forecast,
.tommorow-weather-forecast,
.weekly-weather-forecast {
  padding: 0;
  border-radius: 0.25rem;
}

.hourly-weather-button:checked ~ .hourly-weather-forecast,
.tommorow-weather-button:checked ~ .tommorow-weather-forecast,
.weekly-weather-button:checked ~ .weekly-weather-forecast {
  cursor: pointer;
}

.hourly-weather-forecast,
.hourly-weather-item,
.tommorow-weather-forecast,
.tommorow-weather-item,
.weekly-weather-forecast,
.weekly-weather-item {
  height: 0px !important;
}

.hourly-weather-forecast button,
.tommorow-weather-forecast button,
.weekly-weather-forecast button {
  display: none !important;
}

.hourly-weather-button:checked ~ .hourly-weather-forecast,
.tommorow-weather-button:checked ~ .tommorow-weather-forecast,
.weekly-weather-button:checked ~ .weekly-weather-forecast {
  height: auto !important;
}

.hourly-weather-button:checked ~ .hourly-weather-forecast .hourly-weather-item,
.tommorow-weather-button:checked
  ~ .tommorow-weather-forecast
  .tommorow-weather-item,
.weekly-weather-button:checked ~ .weekly-weather-forecast .weekly-weather-item {
  height: 11.25rem !important;
}

.hourly-weather-button:checked ~ .hourly-weather-forecast button,
.tommorow-weather-button:checked ~ .tommorow-weather-forecast button,
.weekly-weather-button:checked ~ .weekly-weather-forecast button {
  display: block !important;
}

#hourly-weather-wrapper,
#tommorow-weather-wrapper,
#weekly-weather-wrapper {
  width: 92%;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: -2.2rem;
}

#hourly-weather-carousel,
#tommorow-weather-carousel,
#weekly-weather-carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#hourly-weather-carousel::-webkit-scrollbar,
#tommorow-weather-carousel::-webkit-scrollbar,
#weekly-weather-carousel::-webkit-scrollbar {
  height: 0;
}

#hourly-weather-content,
#tommorow-weather-content,
#weekly-weather-content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.hourly-weather-item,
.tommorow-weather-item,
.weekly-weather-item {
  position: relative;
  width: 7.5rem;
  height: 11.25rem;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #ffffff;
}

.hourly-weather-item:hover,
.tommorow-weather-item:hover,
.weekly-weather-item:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
}

.forecast-tooltip {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: none;
  padding: 1rem 0.875rem 0.875rem 1.125rem;
  border-radius: 20px;
  position: absolute;
  bottom: 1.875rem;
  left: 5rem;
  z-index: 1;
  text-align: center;
  transform: translateX(-50%);
  display: none;
}

.last-tooltip {
  left: 2.5rem;
}

.hourly-weather-item:hover .forecast-tooltip {
  display: block;
}

.tommorow-weather-item:hover .forecast-tooltip {
  display: block;
}

.weekly-weather-item:hover .forecast-tooltip {
  display: block;
}

#hourly-weather-previous,
#tommorow-weather-previous,
#weekly-weather-previous,
#hourly-weather-next,
#tommorow-weather-next,
#weekly-weather-next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

#hourly-weather-previous,
#tommorow-weather-previous,
#weekly-weather-previous {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#hourly-weather-next,
#tommorow-weather-next,
#weekly-weather-next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#hourly-weather-previous:hover,
#tommorow-weather-previous:hover,
#weekly-weather-previous:hover,
#hourly-weather-next:hover,
#tommorow-weather-next:hover,
#weekly-weather-next:hover {
  background: rgba(255, 255, 255, 0.3);
}

.hourly-weather-svg,
.tommorow-weather-svg {
  order: 1;
  margin-top: 0.94rem;
  margin-bottom: 0.94rem;
}

.hourly-weather-temperature,
.tommorow-weather-temperature,
.weekly-weather-svg {
  order: 2;
}

.weekly-weather-svg {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.week-day-date,
.week-day-min-temperature {
  font-size: 1rem;
  color: #afd6fe;
}

.week-day-max-temperature,
.week-day-min-temperature {
  order: 3;
}

.right-side {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 2% 3% 3% 3%;
  margin-bottom: -3%;
  display: flex;
  flex-direction: column;
}

.right-side::after {
  content: '';
  background-color: #dcdcdc;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
}

.weather-parameters {
  margin-top: -1.875rem;
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
}

.parameter-tooltip {
  display: flex;
  background-color: rgba(27, 27, 27, 0.95);
  color: #ffffff;
  font-size: 1rem;
  padding: 1.25rem;
  border-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: left;
  border-radius: 2.125rem;
  display: none;
}

.tooltip-info-button {
  position: absolute;
  padding: 0;
  width: 1rem;
  height: 1rem;
  bottom: 1rem;
  right: 1.5rem;
  background: none;
  border-radius: 50%;
  border: none;
}

.tooltip-info-button:hover .tooltip-info-svg {
  stroke: #aaa9b3;
  cursor: pointer;
}

.tooltip-info-button:hover + .parameter-tooltip,
.parameter-tooltip:hover {
  display: block;
}

.suntime,
.feels-like,
.cloudiness,
.pressure,
.visibility,
.wind-direction {
  margin-top: 2rem;
  margin-right: 3rem;
  position: relative;
  width: 10.625rem;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2.125rem;
  padding: 1.25rem;
  font-size: 1rem;
  row-gap: 1rem;
}

.pressure,
.cloudiness {
  row-gap: 0;
}

.visibility {
  row-gap: 10px;
}

.suntime,
.pressure,
.wind-direction {
  margin-right: 0;
}

.suntime:hover,
.feels-like:hover,
.cloudiness:hover,
.pressure:hover,
.visibility:hover,
.wind-direction:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.feels-like-title {
  text-transform: uppercase;
}

.feels-like-temperature,
.visibility-value {
  margin-top: -0.625rem;
}

.sunrise,
.sunset {
  display: flex;
  flex-wrap: wrap;
}

.sunset {
  margin-top: 0.625rem;
}

.feels-like-title,
.feels-like-temperature,
.sunrise-title,
.sunset-title,
.sunrise-time,
.sunset-time,
.cloudiness-title,
.cloudiness-percent,
.pressure-title,
.pressure-value,
.pressure-metering,
.visibility-title,
.visibility-value,
.visibility-metering,
.wind-direction-title,
.wind-direction-value {
  order: 1;
}

.sunrise-title,
.sunset-title,
.cloudiness-title,
.pressure-title,
.visibility-title,
.wind-direction-title {
  text-transform: uppercase;
  flex-basis: 70%;
  margin-left: 0.5rem;
  margin-top: 0.125rem;
}

.sunrise-time,
.sunset-time,
.feels-like-temperature,
.cloudiness-percent,
.pressure-value,
.visibility-value,
.wind-direction-value {
  text-transform: uppercase;
  font-size: 2.25rem;
  flex-basis: 100%;
}

.cloudiness-percent {
  margin-top: 0.625rem;
}

.cloudiness-description {
  margin-top: 1.25rem;
}

.feels-like-decsription,
.cloudiness-description,
.pressure-description,
.visibility-description,
.wind-direction-description {
  order: 2;
}

.pressure-svg {
  margin-top: -0.25rem;
}

.pressure-value {
  margin-top: 0.625rem;
}

.pressure-metering {
  margin-top: -0.625rem;
}

.pressure-description {
  margin-top: 1rem;
}

.visibility-value {
  flex-basis: 16%;
}

.visibility-metering {
  font-size: 1.5rem;
}

.wind-direction-title {
  margin-top: -0.25rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5991ac;
  box-shadow: inset 0 0 3px black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f8098;
}

::-webkit-scrollbar-track {
  background: #4d7a8f;
  border-left: 1px solid rgb(80, 80, 80);
}
